.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
    background: #f4f4f4;
  }
  
  mat-toolbar {
    background: #3f51b5;
    color: white;
  }
  
  mat-nav-list a {
    display: flex;
    align-items: center;
  }
  
  mat-icon {
    margin-right: 10px;
  }
  
  .active {
    font-weight: bold;
    color: #3f51b5;
  }
  
  .profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
  