<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" opened>
    <div class="profile">
      <img src="../assets/profile.jpg" alt="Profile Picture" />
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span class="side-item">{{ "HOME" | translate }}</span>
      </a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">
        <mat-icon>info</mat-icon>
        <span class="side-item">{{ "ABOUT" | translate }}</span>
      </a>
      <a mat-list-item routerLink="/projects" routerLinkActive="active">
        <mat-icon>folder</mat-icon>
        <span class="side-item">{{ "PROJECTS" | translate }}</span>
      </a>
    </mat-nav-list>

   <!-- Social Media Icons -->
<div class="social-media">
  <div class="social-row">
    <a href="https://www.linkedin.com/in/md-maruf-hosen-a93096174/" target="_blank">
      <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
    </a>
    <a href="https://github.com/Maruf-16203091" target="_blank">
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
    </a>
  </div>
  <div class="social-row">
    <a href="https://www.instagram.com" target="_blank">
      <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
    </a>
    <a href="https://www.twitter.com" target="_blank">
      <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
    </a>
  </div>
</div>


    <h1 class="follow-me" [ngClass]="bounceClass">{{ "FOLLOW_ME" | translate }}</h1> 

    <!-- Language Selector at the top right -->
 
 <div class="language-selector">
  <span 
    class="language-toggle" 
    [ngClass]="{'active-lang': currentLanguage === 'EN'}" 
    (click)="toggleLanguage()">
    EN
  </span>
  <span class="lang-separator">/</span> 
  <span 
    class="language-toggle" 
    [ngClass]="{'active-lang': currentLanguage === 'DE'}" 
    (click)="toggleLanguage()">
    DE
  </span>
</div>  
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
