/* Chat Container */
.chat-container {
  width: 92%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
  background: url('../../../assets/bg-6.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* Message Styling */
.message {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -10px;
  padding: 10px;
  border-radius: 40px;
  max-width: 80%;
  position: relative;
  line-height: 1.4;
}

.message.sent {
  background: #4e9ef4;
  color: white;
  align-self: flex-end;
  border-bottom-right-radius: 0;
  margin-right: 25px;
  padding-left: 20px;
  flex-direction: row-reverse;
}

.message.received {
  background: #e0e0e0;
  color: black;
  align-self: flex-start;
  border-bottom-left-radius: 0;
  margin-left: 25px;
  padding-right: 20px;
  flex-direction: row;
}

.message-content {
  display: flex;
  align-items: center;
  width: 100%;
  
}

.profile {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.message.sent .profile {
  right: -65px;
}

.message.received .profile {
  left: -65px;
}

.profile img {
  width: 40px;
  height: 40px;
  margin-top: 58px;
  border-radius: 50%;
  object-fit: cover;
  padding: 18px;
}

.message-text {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 2px;
}

/* Animations */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bounce {
  animation: bounce 2s infinite;
}

.fadeIn {
  animation: fadeIn 2s ease-in;
}

.fadeIn-delay-1s {
  animation: fadeIn 2s ease-in 1s;
}

.fadeIn-delay-2s {
  animation: fadeIn 2s ease-in 2s;
}

.fadeIn-delay-3s {
  animation: fadeIn 2s ease-in 3s;
}

.fadeIn-delay-4s {
  animation: fadeIn 2s ease-in 4s;
}

/* Download Resume Button */
.download-resume {
  position: fixed;
  top: 62px;
  left: 305px;
  background-color: #4e9ef4;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 9999;
  display: flex;
  align-items: center; /* Align items vertically */
}

.download-resume i {
  margin-right: 8px; /* Space between the icon and text */
  font-size: 18px; /* Adjust the size of the icon */
}

.download-resume:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

