<div #chatContainer class="chat-container">
    <div *ngFor="let msg of messages" class="message"
         [ngClass]="{
           'sent': msg.sent,
           'received': !msg.sent,
           'fadeIn': true,
           'fadeIn-delay-1s': msg.delay === 1,
           'fadeIn-delay-2s': msg.delay === 2,
           'fadeIn-delay-3s': msg.delay === 3,
           'fadeIn-delay-4s': msg.delay === 4
         }">
      <div class="profile">
        <img [src]="msg.sent ? '../../../assets/profile-2.webp' : '../../../assets/profile.jpg'" alt="Profile Picture">
      </div>
      <div class="message-content">
        <div class="message-text">
          {{ msg.text | translate }}
        </div>
      </div>
    </div>
  </div>

  <!--resume download button-->
  <a href="../../../assets/Profile.pdf" class="download-resume" download>
    <i class="fas fa-download"></i> Download Resume
  </a>
  