<mat-toolbar class="mat-toolbar">
    <span>Projects</span>
  </mat-toolbar>
  
  <div class="project-grid">
    <div class="project-card-wrapper" *ngFor="let project of projects">
      <mat-card class="project-card">
        <a [href]="project.link" class="card-link" target="_blank"> <!-- The link opens in a new tab -->
          <mat-card-header>
            <mat-card-title>{{ project.title }}</mat-card-title>
          </mat-card-header>
          <div class="image-wrapper">
            <img mat-card-image [src]="project.image" alt="{{ project.title }}">
          </div>
          <mat-card-content>
            <p>{{ project.description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>View Details</button>
          </mat-card-actions>
        </a>
      </mat-card>
    </div>
  </div>
  